@model DataProject.Trip

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plane)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plane)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.town_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.town_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.town_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.town_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_in)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        
        <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Delete" />

            @Html.ActionLink("Back to List", "Index")
        </div>
        
    }
</div>
